<div class="color">
	<ul class="color-ul">
		<li class="color-li color-li-1"></li>
		<li class="color-li color-li-2"></li>
		<li class="color-li color-li-3"></li>
		<li class="color-li color-li-4"></li>
	</ul>
</div>